{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {{message}}
        {% endif %}
        <form action="{% url 'add_auction'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" name="name" class="form-control" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="desciption">Description: </label>
                <textarea class="form-control" name="description" id="" cols="30" rows="10" maxlength="400"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input class="form-control"type="text" name="category" placeholder="Category">
            </div>
            <div class="form-group">
                <label for="image">URL Image:</label>
                <input class="form-control" type="text" name="image" placeholder="URL">
            </div>
            <div class="form-group">
                <label for="bid_start">Starting Bid:</label>
                <input class="form-control" type="text" name="bid_start" placeholder="9999">
            </div>
            <div class="form-group">
                <input name="owner" type='hidden' value='{{ user.username }}'>
                <input type="submit" value="Create" class="btn btn-secondary">
            </div>
        </form>
    </div>
{% endblock %}