{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div>
        <h2>{{lists.name}}</h2>
        <span class="badge badge-secondary"><a href="category/{{lists.category}}" class="text-white">{{lists.category}}</a></span>
    </div>
    <img src="{{lists.image}}" alt="{{list.name}}" height="600px">
    <div>
        <div class="navbar navbar-expand-sm p-0">
            <h2 class="m-0">Details</h2>
            <ul class="navbar-nav ml-auto">
                <form action="">
                    {% csrf_token %}
                    <button class="btn btn-danger">Add to Watchlist</button>
                </form>
            </ul>
        </div>
        <p>Owner: {{lists.owner}}</p>
        <h4>Description</h4>
        <p>{{lists.description}}</p>
    </div>
    <h4>Current Bid: ${{lists.start_bid}}</h4>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{bid_form}}
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit" name="auction_id" value="{{lists.id}}">Make a Bid</button>
        </div>
    </form>
    <div class="p-3">
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="media border p-3 ">
                <div class="media-body">
                    <h4>{{comment.user}} <small><i>Posted on {{comment.date}}</i></small></h4>
                    <p>{{comment.comment}}</p>
                </div>
            </div>
        {% endfor %}
        <form action="{% url 'comments' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{comment_form}}
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit" name="auction_id" value="{{lists.id}}">Comment</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}